<div class="container pt-4">
  <div class="row no-gutters">
    <div class="container py-5 text-center">
      <img src="https://static.thenounproject.com/png/331019-200.png" />
      <h2>Error: {{errorMessage.payload}}</h2>
    </div>
  </div>
</div>