@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

/*
font-family: 'Roboto Condensed', sans-serif;
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

p {
  font-size: 20px;
  text-align: justify;
}

body {
  background-color: #f4f4f4;
}

.btn-custom {
  background-color: #b61212;
  color: #ffffff;
}

.btn-custom:hover {
  background-color: #9c1111;
  color: #ffffff;
}

button[type="submit"] {
  background-color: #b61212;
  color: #ffffff;
}

button[type="submit"]:hover {
  background-color: #9c1111;
  color: #ffffff;
}

tr:hover {
  background-color: #eeeded;
}

th {
  background-color: #b61212;
  color: #ffffff !important;
  font-weight: normal !important;
}

table,
th,
td,
tr {
  border: 1px solid #000;
  border-collapse: collapse;
  transition: 0.4s;
  text-align: center;
}

.table th {
  background-color: #b61212;
}

.footer {
  bottom: 0;
  padding: 10px;
  display: block;
  justify-content: space-between;
  background-color: #ffffff;
  color: #ffffff;
}

.footer p {
  margin-bottom: 0;
}

.footer i {
  font-size: 25px;
  color: #ffffff;
  padding: 0 5px;
}

.footer a i:hover {
  color: #ffffff;
}

.navbar img {
  width: 100px;
  height: 25px;
  object-fit: cover;
}

.navbar-custom {
  background-color: #b61212;
}

.offcanvas {
  background-color: #b61212;
}

.offcanvas-body ul li a {
  text-decoration: none;
  background-color: #b61212;
  color: #000;
  font-size: 20px;
  text-transform: uppercase;
}

.dropdown-menu {
  background-color: #b61212;
}

.dropdown-item:hover {
  background-color: #b61212;
}

.titles {
  height: 8rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-transform: uppercase;
  padding: 0 40px;
}

.titles h2 {
  font-size: 3rem;
  color: #c21717;
  align-self: center;
}

.form-control:focus {
  border-color: #b61212;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px #b61212, 0 0 8px #b61212;
  box-shadow: inset 0 1px 1px #b61212, 0 0 8px #b61212;
}

.container-box {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 40px;
  text-align: center;
  font-size: 24px;
}

.container-box img {
  text-align: center;
  width: 95%;
  height: 300px;
}

.container-box p {
  text-align: center;
  font-size: 24px;
  padding-top: 10px;
}

.container-box-img {
  text-align: center;
  height: 100%;
  margin: 50px;
}

.container-box-img img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  margin: 20px;
}

.avatar {
  .img {
    border-radius: 50%;
    height: 50px;
  }
}

.navbar-nav img {
  border-radius: 50%;
  height: 35px;
  width: unset;
}
.error {
  color: red;
  font-style: italic;
}

.clickable {
  cursor: pointer;
}

.text-left {
  text-align: left;
}

.image-gallery-container {
  width: auto !important;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.gallery-image {
  width: 400px;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
}
